<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>

<title>加解密测试工具</title>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<script type="text/javascript" src="jquery.cookie.js"></script>
<script type="text/javascript">
	
	// 参考 https://segmentfault.com/q/1010000012743613
	
	$(function () {
	    var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    
	    console.log("token:" + token);
	    console.log("header:" + header);
	    
	    $(document).ajaxSend(function (e, xhr, options) {
	        xhr.setRequestHeader(header, token);
	    });
	});

	function encrypt(){
		
		var headers = {};
		headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
		
		console.log("遍历headers:");
		for(var i=0;i<headers.length;i++) {
			console.log("headers:" + headers[i]);
		}
		
		var source = $("#sourceEncrypt").val();
		$.ajax({
			//'url' : 'http://localhost:10801/encrypt',
			'url' : '/encrypt',
			'headers': headers,
			'type': 'post',
			'data': source,
			'success' : function(data){
				$("#singEncrypt").val(data);
			}
		});
	}
	function decrypt(){
		
		var headers = {};
		headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
		
		console.log("headers:" + headers);
		
		var sing = $("#singDecrypt").val();
		$.ajax({
			//'url' : 'http://localhost:10801/decrypt',
			'url' : '/decrypt',
			'headers': headers,
			'type': 'post',
			'data': sing,
			'success' : function(data){
				$("#sourceDecrypt").val(data);
			}
		});
	}
</script>
</head>
<body>
	<div style="padding-left: 100px; padding-right: 100px">
		明文：<input type="text" name="urlValue" id="sourceEncrypt" style="width: 300px"/>
		<br>
		密文：<input type="text" name="urlValue" id="singEncrypt" style="width: 300px"/>
		<input type="button" value="加密" onclick="encrypt();">
		<hr>
		密文：<input type="text" name="urlValue" id="singDecrypt" style="width: 300px"/>
		<br>
		明文：<input type="text" name="urlValue" id="sourceDecrypt" style="width: 300px"/>
		<input type="button" value="解密" onclick="decrypt();">
	</div>
</body>
</html>